@use '@/app/assets/vars.scss' as vars;

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  overflow: hidden;
  padding: 1rem 0;
  justify-content: center;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.imagePair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.image {
  width: 30%;
  height: auto;
  object-fit: fill;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.image.twoImagesInRow {
  width: 48%;
}

.form {
  width: 100%;
  margin-top: 1rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.button {
  margin: 1rem 0 0;
}


