@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*Hou geen rekening met darkmode*/
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
  color: #2a2a2a;
  background: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  max-width: 80rem;
  margin: 0 auto;
}

footer {
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px;
  z-index: 1000;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.skip-link:focus {
  top: 0;
  opacity: 1;
}
