@use '@/app/assets/vars.scss' as vars;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  .spinner {
    border: 4px solid vars.$green;
    border-left-color: transparent;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
