@use "@/app/assets/vars.scss" as vars;

.buttonStyle {
  width: 100%;
  height: fit-content;
  padding: vars.$button_padding;
  color: vars.$white;
  background-color: vars.$green;
  font-family: "Inter", sans-serif;
  font-size: vars.$text_regular;
  border-radius: vars.$button_radius;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  transition-duration: 200ms;
}

.buttonStyle:hover {
  transform: scale(1.06);
}
