@use '@/app/assets/vars.scss' as vars;

.detailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;

  .map {
    height: 30rem;
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .detailPage {
    flex-direction: row;

    .map {
      height: auto;
    }
  }
}
