@use '@/app/assets/vars.scss' as vars;

.itemBorderStyle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: vars.$green;
}

.arrowStyle {
  transform: rotate(90deg) scale(0.6, 1.3);
  font-size: 1.2em;
  font-weight: 500;
}

.logo {
  width: 9rem;
}

.profilePic {
  width: 1.8rem;
}

.boldText {
  font-weight: bold;
}

button.hamburger {
  padding: 1rem;
}
