.badgeImage {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  width: 10rem;
  height: auto;
  object-fit: cover;
  @media screen and (max-width: 370px) {
    display: none;
  }
}

.badgeCard {
  display: flex;
  border-radius: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 35rem;
  overflow: hidden;
}

.badgeDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.badgeRowContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.flexColContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.7rem 0;
}

.buttonContainer {
  margin-top: auto;
}
