@use '@/app/assets/vars.scss' as vars;

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}
.eventInfo {
  display: none;
}
.signUp {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .groupMemberHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
.buttonGroup {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 1rem;

  .cancelButton {
    background-color: vars.$white;
    color: vars.$red;
    border: 0.18rem solid vars.$red;
  }
}

@media screen and (min-width: 750px) {
  .page {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .eventInfo {
    display: unset;
    flex: 0.4;
  }
  .signUp {
    margin: 2rem auto;
    padding: 0 1rem;
    max-width: 40rem;
  }
  .buttonGroup {
    display: flex;
    flex-direction: row;
  }
}
