@use "./vars.scss" as vars;

.image {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.column {
  max-width: 40rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.columnContent {
  background-color: vars.$white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
  margin: 0 1rem;
}
