@use '@/app/assets/vars.scss' as vars;

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

  h2 {
    color: vars.$black;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.bannerContainer {
  display: flex;
  justify-content: center;
  padding: 0 0 2rem;
  position: relative;
  flex-wrap: wrap;
}

.title {
  margin: 2rem 0 0 1rem;
}

@mixin cardContainer {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 2rem 1rem 4rem;
  flex-wrap: wrap;
  width: 100%;
  @media screen and (max-width: 900px) {
    gap: 2rem;
  }
}

.section {
  border-bottom: 2px solid #e5e7eb;
  width: 100%;
  padding: 0 1rem;
}

.borderContainer {
  @include cardContainer;
}

.routeContrainer {
  @include cardContainer;
  border-bottom: 2px solid #e5e7eb;
}

.bottomCardContainer {
  @include cardContainer;
}
