$small_gap: 2.4rem;
$medium_gap: 3.6rem;
$big_gap: 4.8rem;
$button_padding: 0.8rem 2.4rem;
$button_radius: 5px;

$text_xs: 0.6rem;
$text_s: 0.8rem;
$text_regular: 1rem;
$text_medium: 1.2rem;
$text_lg: 1.4rem;
$text_xl: 1.8rem;
$text_2xl: 3.6rem;
$text_3xl: 4.8rem;

$white: #fafafa;
$black: #2a2a2a;
$green: #1a614a;
$red: #992a26;
$grey: #7b7b7b;
$blue: #0c7ab0;
