@use "@/app/assets/vars.scss" as vars;

.buttonStyle {
  width: 100%;
  height: 3rem;
  padding: vars.$button_padding;
  font-size: vars.$text_regular;
  border-radius: vars.$button_radius;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 200ms;
  color: vars.$white;
  background-color: vars.$green;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonStyle:hover {
  transform: scale(1.06);
}

.icon {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 100%;
  aspect-ratio: 1;
  margin-right: 0.5rem;
}