@use "@/app/assets/vars.scss" as vars;

.buttonStyle {
  width: 100%;
  height: fit-content;
  padding: vars.$button_padding;
  font-family: "Inter", sans-serif;
  font-size: vars.$text_regular;
  border-radius: vars.$button_radius;
  text-transform: uppercase;
  font-weight: bold;
  transition-duration: 200ms;
  color: vars.$white;
  background-color: vars.$green;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonStyle:hover {
  transform: scale(1.06);
}

.buttonSpacing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}