.linkContainer {
  display: flex;
  justify-content: center;
  gap: 20rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
  border-radius: 1rem;
}

.image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.statContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  gap: 1rem;
}

.statColumn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
