.linkContainer {
  display: flex;
  justify-content: center;
  gap: 20rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;

  .coverLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .coverLink:focus {
    border: 2px solid rgb(40, 54, 253);
    border-radius: 16px;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.statContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  gap: 1rem;
}

.statColumn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
