@use '@/app/assets/vars.scss' as vars;

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .error {
    color: vars.$red;
  }

  .noEvents {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .dashboard {
    flex-direction: row;
    justify-content: flex-start;
  }
}
