@use '@/app/assets/vars.scss' as vars;

.form {
  flex: 1;

  .fields {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .submitButton {
      margin-top: 1rem;
    }
  }

  .error {
    color: vars.$red;
  }
}
