@use '@/app/assets/vars.scss' as vars;

.form {
  flex: 1;
  margin-top: 1rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;

  .greenText {
    color: vars.$green;
  }

  .submitButton {
    margin-top: 1rem;
  }

  .error {
    color: vars.$red;
  }

  input:disabled {
    color: rgba(0, 0, 0, 0.38);
  }
}
